.git
CVS
.svn
.hg
.lock-wscript
.wafpickle-N
.*.swp
.DS_Store
._*
npm-debug.log
.npmrc
.vscode
node_modules
config.gypi
*.orig

*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

examples
package-lock.json